*.gem
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
Gemfile.lock
_site/
node_modules/
vendor/
/exams/
**/*_answers.*
assets/homework/homework1_answers.ipynb
assets/homework/homework2_answers.ipynb
assets/homework/homework4_answers.ipynb
