# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole site, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.github_repo }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: HWRS 561b
tagline: Physical Hydrogeology II
description: A course website for HWRS 561b Physical Hydrogeology II at the University of Arizona
author: Bo Guo
# baseurl: '/GuoPorousMediaLab/HWRS505-405-2023Fall' # the subpath of your site, e.g. /blog
url: 'https://github.com/boguoporousmedia/HWRS561b-2026Spring'
exclude: ["Gemfile", "Gemfile.lock", "LICENSE"]

# Theme settings
remote_theme: just-the-docs/just-the-docs@v0.5.4
color_scheme: light
search_enabled: true
heading_anchors: true
permalink: pretty
aux_links:
# Bo Guo:
#   - 'https://guolab.arizona.edu/'
# Sidian Chen:
#   - 'https://sidianchen.github.io/'
  HWRS 561b on GitHub:
    - 'https://github.com/boguoporousmedia/HWRS561b-2026Spring'
footer_content:

# Collections for website data
collections:
  staffers:
  lectures:
  schedules:
  announcements:
# Default layouts for each collection type
defaults:
  - scope:
      path: ''
      type: staffers
    values:
      layout: staffer
      height: 300
      subpath: '/assets/images/'
      width: 300
  - scope:
      path: ''
      type: lectures
    values:
      layout: lecture
  - scope:
      path: ''
      type: schedules
    values:
      layout: module
  - scope:
      path: ''
      type: announcements
    values:
      layout: announcement

compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false
