((* extends 'latex/base.tex.j2' *))

((* block title *))
% no title
((* endblock title *))

((* block date *))
\date{}
((* endblock date *))

((* block author *))
% no author
((* endblock author *))

((* block maketitle *))
% no maketitle
((* endblock maketitle *))
